<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-directivas-atributo *ngIf ="mostrarComponente; else elseBlock" ></app-directivas-atributo>
  <ng-template #elseBlock><p>Contenido oculto</p></ng-template>

  <button (click) = "handleClick()">Mostrar / Ocultar</button>
  <app-semaforo></app-semaforo>
  <app-lista-personas></app-lista-personas>
  <app-elige-la-puerta></app-elige-la-puerta>
  <p appColor>HOLA MUNDO DIRECTIVAS</p>
  <p [appColor]="{mouseOverFont: '16px', mouseOutFont: '26px'}">HOLA MUNDO DIRECTIVAS</p>
</div>


